/* Dichiarazioni base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

a {
    color: #FFF;
    text-decoration: none;
}

/* Utenti in webcam */
#users {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5% 5% 150px 5%;
}

#users > div {
    width: 250px;
    height: 150px;
    background-image: url(https://picsum.photos/250/150);
    position: relative;
}

.name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: fit-content;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Screen */
#screen {
    position: absolute;
    top: 0;
    right: 0;
}

#screen > a {
    display: inline-block;
    margin: 5px;
    padding: 5px 7px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

/* Barra */
#barra {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#barra > div {
    display: flex;
    align-items: center;
}

#barra > div > div {
    margin: 10px;
}

#barra i {
    display: block;
    font-size: 30px;
    margin-bottom: 5px;
}

#barra i.fa-angle-up {
    font-size: 14px;
}

#barra i.fa-share-square {
    color: #4BC800;
}

#end {
    align-self: stretch;
    display: block;
    background-color: #4A4A4A;
    color: #F00;
    padding: 25px;
}